@model Employees

@{
    ViewData["Title"] = "Add New Employee";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row text">
    <div class="col-md-10 offset-md-1">
        <p>
            <h4>Add Employee</h4>
        </p>

        <form asp-action="CreateEmployee" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <a class="btn btn-outline-secondary" asp-action="Index">Show All</a>
                <input type="submit" value="Create" class="btn btn-success float-right" />
            </div>

            @*Tab Nav*@
            <ul class="nav nav-tabs nav-justified">
                <li class="nav-item">
                    <a class="nav-link active" href="#info" data-toggle="tab">Primary Information</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#contact" data-toggle="tab">Contact Information</a>
                </li>
            </ul>

            @*Tab Content*@
            <div class="tab-content" style="margin-top: 15px">
                @*Primary Info*@
                <div id="info" class="tab-pane active fade in">
                    <div class="row form-group">

                        <div class="col col-md-4">
                            <img id="ImagePreview" src="~/images/default-avatar.jpg" style="width:15em; height:15em" />
                        </div>

                        <div class="col col-md-8">
                            <div class="custom-file">
                                <input asp-for="ImageFile" accept="image/*" class="form-control-file" />
                            </div>

                            <label asp-for="EmployeeFirstName" class="control-label"></label>
                            <input asp-for="EmployeeFirstName" class="form-control" />
                            <span asp-validation-for="EmployeeFirstName" class="text-danger"></span>


                            <label asp-for="EmployeeLastName" class="control-label"></label>
                            <input asp-for="EmployeeLastName" class="form-control" />
                            <span asp-validation-for="EmployeeLastName" class="text-danger"></span>


                            <label asp-for="EmployeeBirthday" class="control-label"></label>
                            <input asp-for="EmployeeBirthday" class="form-control" id="date" placeholder="MM/DD/YYY" type="date" />
                        </div>
                    </div>
                </div>

                @*Contact Information*@
                <div id="contact" class="tab-pane fade">
                    <div class="row">
                        <div class="col col-md-6">
                            <div class="form-group">
                                <label asp-for="EmployeeEmail" class="control-label"></label>
                                <input asp-for="EmployeeEmail" class="form-control" />
                                <span asp-validation-for="EmployeeEmail" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="col col-md-6">
                            <div class="form-group">
                                <label asp-for="EmployeePass" class="control-label"></label>
                                <input asp-for="EmployeePass" class="form-control" type="password" />
                                <span asp-validation-for="EmployeePass" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label asp-for="EmployeeBlock" class="control-label"></label>
                                <input asp-for="EmployeeBlock" class="form-control" />
                                <span asp-validation-for="EmployeeBlock" class="text-danger"></span>


                                <label asp-for="EmployeeLot" class="control-label"></label>
                                <input asp-for="EmployeeLot" class="form-control" />
                                <span asp-validation-for="EmployeeLot" class="text-danger"></span>


                                <label asp-for="EmployeeBaranggay" class="control-label"></label>
                                <input asp-for="EmployeeBaranggay" class="form-control" />
                                <span asp-validation-for="EmployeeBaranggay" class="text-danger"></span>


                                <label asp-for="EmployeeCity" class="control-label"></label>
                                <input asp-for="EmployeeCity" class="form-control" />
                                <span asp-validation-for="EmployeeCity" class="text-danger"></span>


                                <label asp-for="ContactNumber" class="control-label"></label>
                                <input asp-for="ContactNumber" class="form-control" />
                                <span asp-validation-for="ContactNumber" class="text-danger"></span>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <script>
        $("#Image").on("change", function () {
            var output = document.getElementById('ImagePreview');
            output.src = $(this).val();
        });
    </script>
}