@{
    ViewData["Title"] = "Under Construction";
}

<div class="container text-center">
    <div class="col">

        <h1>Under Construction</h1>
        <h5>Please come back later</h5>

        <img src="~/images/under-construction.gif" />
    </div>
</div>
